# Pin torch and torchvision to a recent version (e.g., >=2.1.0)
torch
torchvision
Pillow
Flask
requests>=2.31 # Resolve jupyterlab-server conflict
#numpy             # For numerical operations
scipy             # For rotation conversions
opencv-python-headless # For image processing/drawing (no GUI)
matplotlib
scikit-learn